extends layout/default

block content  
  div.hero-image
    div.container
      img(src="/assets/img/logo.png" class="logo")
      h1 We put more into your business
      p. 
        Opus Energy is the UK's sixth biggest business energy supplier, <br />
        supplying electricity and gas to over 260,000 UK locations. <br />
        With an award-winning customer service team, accurate billing and <br />
        91% share of renewable energy, our standards of service set us apart. <br />
      a.btn-pink visit opusenergy.com
  div.seperator
    h2 Looking for something else?
  div.row
    div.container
      div.g--third
        div.header-background
          img(src="assets/img/Bopuslogo.png")
        div.content-entry
          h3 The Opus Energy Blog
          p.
            From the most exciting and curious in 
            energy innovation, to what's happening
            within the Opus Energy walls - you can read
            it on the Opus Energy blog.
          a(href="http://opusenergyblog.com") Visit the blog
      div.g--third
        div.header-background
          img(src="assets/img/Communitylogo.png")  
      div.g--third.g--last
        div.header-background
          img(src="assets/img/BBlogo.png")  
    
    
   