extends layout/default

block content  
  div.hero-image
    div.container
      img(src="./assets/img/logo.png" class="logo")
      h1 We put more into your business
      p. 
        Opus Energy is the UK's sixth biggest business energy supplier, <br />
        supplying electricity and gas to over 260,000 UK locations. <br />
        With an award-winning customer service team, accurate billing and <br />
        91% share of renewable energy, our standards of service set us apart. <br />
      a(href="http://opusenergy.com/" class="btn-pink") visit opusenergy.com
  div.seperator
    h2 Looking for something else?
  div.row
    div.container
      div.g--third
        div.header-background
          img(src="/assets/img/Bopuslogo.png")
        div.content-entry
          h3 The Opus Energy Blog
          p.
            From the most exciting and curious in 
            energy innovation, to what's happening
            within the Opus Energy walls - you can read
            it on the Opus Energy blog.
          a(href="http://www.opusenergyblog.com") Visit the blog
      div.g--third
        div.header-background
          img(src="/assets/img/Communitylogo.png")
        div.content-entry
          h3 Opus Energy Community 
          p.
            Every year we fundraise thousands of pounds
            for charities chosen by our employees. Find
            out how we're giving back over at Opus Energy
            Community, where we talk charity and community
            support.
          a(href="http://www.opusenergycommunity.com/"). 
            Find out what's up on Community
      div.g--third.g--last
        div.header-background
          img(src="/assets/img/BBlogo.png")  
        div.content-entry
          h3 Brighter Business
          p.
            For SME owners who are running short on time
            and resources, check out our advice hub dedicated
            to running a thriving small or medium business.
          a(href="http://opusenergygift.com/").
            See what's new at Brighter Business