@import 'components/components';

.hero-image{
	background: url(/assets/img/banner-SME-farmer.jpg) no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	padding: 40px 0 60px;
	.container{
		h1{
			font-size: 3em;
			margin-top: 50px;
		}
		p{
			margin-bottom: 50px;
		}
	}
}

.logo{
	width: 10em;
	margin: 0 auto;
	display: block;
}

.btn-pink {
  @extend .button;
  @include style-button($colorPink, #ffffff);
	border-radius: 2em;
	
	&:hover{
		cursor: pointer;
		@include style-button($colorPinkSecondary, #ffffff);
	}
}

.seperator{
	background-color: $colorBlue;
	color: white;
	text-align: center;
	padding: 2em 0;
	h2{
		font-size: 2em;
	}
}

.row{
	margin-top: 3em;
}

.g--third, .g--third--last{
	margin-bottom: 5em;
	.header-background{
		background-color: #eee;
		padding: 2em;
		img{
			display: block;
			margin: 0 auto;
		}
	}
	h3{
		font-size: 18px;
		font-weight: bold;
		color: $colorBlue;
	}
	
	p{
		line-height: 1.3250em;
		padding-top: 1.3250em;
		padding-bottom: 1.3250em;
	}
	a{
		color: $colorPink;
		
		&:hover {
			color: lighten($colorPink, 15%);
		}
	}
}



