@font-face {
    font-family: 'averta';
    src: url($font-path + 'averta_bold-webfont.eot');
    src: url($font-path + 'averta_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + 'averta_bold-webfont.woff2') format('woff2'),
         url($font-path + 'averta_bold-webfont.woff') format('woff'),
         url($font-path + 'averta_bold-webfont.ttf') format('truetype'),
         url($font-path + 'averta_bold-webfont.svg#avertabold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'averta';
    src: url($font-path + 'averta_light-webfont.eot');
    src: url($font-path + 'averta_light-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + 'averta_light-webfont.woff2') format('woff2'),
         url($font-path + 'averta_light-webfont.woff') format('woff'),
         url($font-path + 'averta_light-webfont.ttf') format('truetype'),
         url($font-path + 'averta_light-webfont.svg#avertalight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'averta';
    src: url($font-path + 'averta-webfont.eot');
    src: url($font-path + 'averta-webfont.eot?#iefix') format('embedded-opentype'),
         url($font-path + 'averta-webfont.woff2') format('woff2'),
         url($font-path + 'averta-webfont.woff') format('woff'),
         url($font-path + 'averta-webfont.ttf') format('truetype'),
         url($font-path + 'averta-webfont.svg#avertaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
